@{
    ViewData["Title"] = "About Us Page";
}

<div class="text-center">
    <h1 class="display-4">About DhruviSoapSide Company</h1>
    <p>
        Dhruvi Soap Side Company was founded in 2020.  It began as a journey for us to learn about soap making and natural soaps and started with the mission of becoming an ethical luxury soap manufacturer. Today, Dhruvi Soap Side stands for simplicity, elegance, and sincerity in commercial brands. We are committed to providing customers with high-quality products without any harmful ingredients or additives at the same time being eco-friendly by using natural ingredients from nature such as herbs, fruits, vegetables and flowers.
        Dhruvi Soap Side Company is a natural handmade soap manufacturer and supplier worldwide. We make handmade soaps using 100% natural ingredients. Our mission is to make artificial free and chemical-free soaps for customers to be used as alternatives to traditional synthetic soaps which are often harmful and can have many side effects on the skin.
    </p>
</div>

